.dropdown-container {
  position: relative;
  display: block;
}

.dropdown-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.dropdown-button:hover {
  background-color: #f0f0f0;
}

.down-arrow {
  width: 1.2rem;
  transition: transform 0.2s ease, scaleY 0.2s ease;
}

.rotate-arrow-up {
  transform: scaleY(-1);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 99%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  font-size: 1rem;
  text-align: start;
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.dropdown-item:hover {
  background-color: #f4ef68;
}
